*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: rgb(45, 43, 43);
    display: flex; 
    justify-content: center;
    align-items: center;
}

.calculator{
    width:300px;
    height: 500px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.3) ;
    border-radius: 12px;
    background: #635e5e;
    overflow: hidden;
}

form input{
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 12px;
    font-size: 2rem;
    padding: 1rem;
    color: rgb(249, 247, 244);
    background: #3d3b3b;
    pointer-events: none;
    text-align: right;

}
.buttons{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 20px;
}


button{
    flex: 0 0 22%;
    margin: 5px 0;
    border: 1px solid #000;
    width: 60px;
    height: 53px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.btn-yellow{
    background: rgb(233, 233, 176);
    color: #fff;
}

.btn-grey{
    background: grey;
}

.btn-equal{
    background: green;
}
.btn-clear{
    background: red;
}